<!-- beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jpa="http://www.springframework.org/schema/data/jpa" 
    xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/tx 
    http://www.springframework.org/schema/tx/spring-tx-3.0.xsd http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-3.0.xsd" -->

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
        http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd
        http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.0.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd">
    <!-- Package needed to be scanned for annotation -->
    <context:component-scan base-package="com.douane" />

    <!-- Use annotation for configuration -->
    <context:annotation-config />
    <context:spring-configured />
    <!-- Beans Declaration -->
    <!-- bean id="User" class="com.douane.model.User"/ -->

    <!-- User Metier Declaration -->
    <bean id="usermetier" class="com.douane.metier.user.UserMetier">
        <!-- property name="refdao" ref="refdao"></property -->
    </bean>


    <!-- Nomenclature Metier Declaration -->
    <bean id="nomenclaturemetier" class="com.douane.metier.nomenclature.NomenclatureMetier">
        <!-- property name="refdao" ref="refdao"></property -->
    </bean>


    <!-- Nomenclature Metier Declaration -->
    <bean id="bureaumetier" class="com.douane.metier.bureau.BureauMetier">
        <!-- property name="refdao" ref="refdao"></property -->
    </bean>

    <!-- Financement Metier Declaration -->
    <bean id="financementmetier" class="com.douane.metier.financement.FinancementMetier">
        <!-- property name="refdao" ref="refdao"></property -->
    </bean>

    <!-- Fournisseur Metier Declaration -->
    <bean id="fournisseurmetier" class="com.douane.metier.fournisseur.FournisseurMetier">
        <!-- property name="refdao" ref="refdao"></property -->
    </bean>

    <!-- Liste déteneteurs Metier Declaration -->
    <bean id="detenteurmetier" class="com.douane.metier.listeDetenteur.DetenteurMetier">
        <!-- property name="refdao" ref="refdao"></property -->
    </bean>

    <!-- Nomenclature Metier Declaration -->
    <bean id="marquemetier" class="com.douane.metier.marque.MarqueMetier">
        <!-- property name="refdao" ref="refdao"></property -->
    </bean>

    <!-- Motif Aquisition Metier Declaration -->
    <bean id="modeacquisitionmetier" class="com.douane.metier.motifAquisition.ModeAcquisitionMetier">
        <!-- property name="refdao" ref="refdao"></property -->
    </bean>

    <!-- Motif décharger Metier Declaration -->
    <bean id="motifdechargemetier" class="com.douane.metier.motifDecharge.MotifDechargeMetier">
        <!-- property name="refdao" ref="refdao"></property -->
    </bean>

    <!-- Type matériel Metier Declaration -->
    <bean id="typematerielmetier" class="com.douane.metier.typeMateriel.TypeMaterielMetier">
        <!-- property name="refdao" ref="refdao"></property -->
    </bean>

    <!-- Utilisateur Metier Declaration -->
    <bean id="utilisateurmetier" class="com.douane.metier.utilisateur.UtilisateurMetier">
        <!-- property name="refdao" ref="refdao"></property -->
    </bean>

    <!-- Reference Metier Declaration -->
    <bean id="refmetier" class="com.douane.metier.referentiel.RefMetierImpl">
        <property name="refdao" ref="refdao"></property>
    </bean>




    <!-- User Service Declaration 
    <bean id="UserService" class="com.douane.user.service.UserService">
        <property name="userDAO" ref="UserDAO" />
    </bean>-->
    <!-- Referentiel DAO -->
    <bean id="refdao" class="com.douane.dao.referentiel.RefDAOImpl"></bean>

    <!-- User DAO Declaration 
    <bean id="UserDAO" class="com.douane.user.dao.UserDAO">
    </bean>-->

    <!-- User DAO Declaration -->
    <bean id="operationdao" class="come.douane.dao.operation.OperationDAOImpl">
        <!-- property name="sessionFactory" ref="SessionFactory" / -->
    </bean>

    <!-- Data Source Declaration -->

    <bean class="java.net.URI" id="dbUrl">
        <constructor-arg value="#{systemEnvironment['DATABASE_URL']}"/>
    </bean>


    <bean id="DataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
        destroy-method="close">
        <!--property name="driverClass" value="com.mysql.jdbc.Driver" />
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/Test" />
        <property name="user" value="root" />
        <property name="password" value="" /-->
        <property name="driverClass" value="org.postgresql.Driver"/>
        <!--property name="jdbcUrl" value="jdbc:postgres://ec2-54-247-81-97.eu-west-1.compute.amazonaws.com:5432/d8jgiq3ojrd8fn"/-->
        <property name="jdbcUrl" value="#{ 'jdbc:postgresql://' + @dbUrl.getHost() + ':' + @dbUrl.getPort() + @dbUrl.getPath() }"/>
        <property name="user" value="lfkmiohsvduuxg"/>
        <property name="password" value="0a3943f9f147ee30fcbc440387917749523f216d1002b9a9f40ebe9f75180e8c"/>
        <property name="maxPoolSize" value="10" />
        <property name="maxStatements" value="0" />
        <property name="minPoolSize" value="5" />
    </bean>

    <!--bean id="persistenceUnitManager" class="org.springframework.orm.jpa.persistenceunit.DefaultPersistenceUnitManager"> 
        <property name="persistenceXmlLocations"> <list> <value>classpath*:WEB-INF/persistence.xml 
        </value> </list> </property> <property name="defaultDataSource" ref="DataSource"> 
        </property> </bean -->

    <!-- Bean FlyWay for DataBase Migration USING MyZillaMigration--> 
    <!--bean id="flyway" class="com.myzilla.migration.MyZillaMigration"
        init-method="repairAndMigrate">
        <property name="locations"> 
            <list>
            <value>classpath:META-INF/migration</value>
            <value>classpath:META-INF/data</value>
            </list>
        </property>
        <property name="dataSource" ref="DataSource" />
        <property name="validateOnMigrate" value="true" />
    </bean-->
    
    <!-- Bean FlyWay for DataBase Migration Simple  
    <bean id="flyway" class="org.flywaydb.core.Flyway" init-method="migrate">
        <property name="baselineOnMigrate" value="true" />
        <property name="locations"> 
            <list>
            <value>classpath:META-INF/migration</value>
            <value>classpath:META-INF/data</value>
            </list>
        </property>
        <property name="dataSource" ref="DataSource" />
    </bean>
    -->

    <bean id="emf"
        class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="DataSource"></property>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
        </property>
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.dialect"> org.hibernate.dialect.PostgreSQLDialect</prop>
            </props>
        </property>
    </bean>
    <!-- bean id="emf" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"> 
        <property name="persistenceUnitManager" ref="persistenceUnitManager"> </property> 
        <property name="persistenceUnitName" value="mypu"></property> </bean -->


    <!-- Session Factory Declaration <bean id="SessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean"> 
        <property name="dataSource" ref="DataSource" /> <property name="annotatedClasses"> 
        <list> <value>com.douane.model.User</value> </list> </property> <property 
        name="hibernateProperties"> <props> <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop> 
        <prop key="hibernate.show_sql">true</prop> <prop key="hibernate.hbm2ddl.auto">update</prop> 
        </props> </property> </bean> -->

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="emf" />
    </bean>


    <!-- Enable the configuration of transactional behavior based on annotations -->
    <tx:annotation-driven transaction-manager="transactionManager" />

    <!-- Transaction Manager is defined -->
    <!-- >bean id="txManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager"> 
        <property name="sessionFactory" ref="SessionFactory"/> </bean -->

    <import resource="security-context.xml" />

    <jpa:repositories base-package="com.douane.repository"
        transaction-manager-ref="transactionManager"
        entity-manager-factory-ref="emf" />

</beans>
